[Desktop Entry]
Exec=synaptiks
Type=Application
Terminal=false
Icon=synaptiks
Categories=Qt;KDE;Utility;HardwareSettings;

X-DocPath=synaptiks/index.html

X-KDE-StartupNotify=true
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=de.lunaryorn.synaptiks

Name=Synaptiks
Name[de]=Synaptiks
Name[ru]=Synaptiks

GenericName=Touchpad management
GenericName[de]=Touchpad-Verwaltung
GenericName[ru]=Настройка сенсорной панели
