[Desktop Entry]
Exec=synaptiks
Type=Application
Terminal=false
Icon=synaptiks
Categories=Qt;KDE;Utility;HardwareSettings;
OnlyShowIn=KDE;

X-KDE-StartupNotify=false
X-KDE-autostart-condition=synaptiksrc:General:Autostart:false
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=de.lunaryorn.synaptiks

Name=Synaptiks
Name[de]=Synaptiks
Name[fr]=Synaptiks
Name[ru]=Synaptiks

GenericName=Touchpad management
GenericName[de]=Touchpad-Verwaltung
GenericName[fr]=Gestion du pavé tactile
GenericName[ru]=Управление сенсорной панелью
