[Desktop Entry]
Exec=synaptiks
Type=Application
Terminal=false
Icon=synaptiks
Categories=Qt;KDE;Utility;HardwareSettings;
OnlyShowIn=KDE;

X-KDE-StartupNotify=false
X-KDE-autostart-condition=synaptiksrc:General:Autostart:false
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=de.lunaryorn.synaptiks

Name=synaptiks
Name[de]=synaptiks
Name[fr]=synaptiks
Name[ru]=synaptiks
Name[it]=synaptiks

GenericName=Touchpad management
GenericName[de]=Touchpad-Verwaltung
GenericName[fr]=Gestion du pavé tactile
GenericName[ru]=Управление сенсорной панелью
GenericName[it]=Gestione del touchpad
